@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Data.Models.Topic
<head>
    <title>Current Topic</title>
</head>
<body class="page-template-default page page-id-43 logged-in admin-bar custom-background custom-background-image custom-background-color full-width customize-support about-body">
    <partial name="_ForumNavBar">
        <p class="blog-section topic-blog-section">[@Model.Category] @Model.Name by @Model.Customer.Name <br /></p>
        <textarea class="topic-textarea" disabled rows="5" cols="60">@Model.Content</textarea>
        <br />
        <br />
        @{
            foreach (var comment in Model.Comments)
            {
                <div>
                    <textarea disabled rows="5" cols="60" class="topic-textarea-comment">@comment.Content</textarea>
                    <a asp-controller="Comment" asp-action="Like" asp-route-id="@comment.Id">
                        <i class="fas fa-heart topic-comment-like"></i>
                    </a>
                    <a asp-controller="Comment" asp-action="Reply" asp-route-id="@comment.Id">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>

            }
            <form method="get" asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id">
                <textarea class="topic-content" type="text" name="Content" value=""></textarea>
                <br />
                <input class="mainButton medium-text" type="submit" name="name" value="Comment" />
            </form>
        }

</body>
<footer>
    <partial name="_Footer">
</footer>