<div id ='container'>
    {{> header}}

    <div id="editMovie">
            <h1>Edit movie</h1>
            <form action="#/edit/{{objectId}}" method="post">
                <label>Title</label>
                <input type="text" name="name" value="{{name}}" id="editTitle">
                <label>Image Url</label>
                <input type="text" name="image" id="editImage" value="{{image}}">
                <label>Description</label>
                <textarea type="text" id="description" name="description">{{description}}.</textarea>
                <label>Genres</label>
                <input type="text" name="genres" value="{{genres}}" id="editGenres">
                <label>Available Tickets</label>
                <input type="number" name="tickets" value="{{tickets}}" id="editTickets">
                <input type="submit" value="Edit">
            </form>
        </div>
</div>

        {{>footer}}